.container {
    max-width: 600px;
    margin: 0 auto;
}

.my-form .form-row {
    margin-bottom: 20px;
}

.my-form .form-label {
    font-weight: bold;
}

.my-form .form-control {
    width: 100%;
}

.my-form .btn-primary {
    width: 100%;
}
