<carousel [isAnimated]="true">
    <slide>
        <img src="assets/images/gym1.jpg" alt="slide">
        <div class="carousel-caption">
            <h3>Get Fit Today</h3>
            <p>Our gym equipment and apparel are designed to help you reach your fitness goals. Shop now and take the first step towards a healthier, stronger you.</p>
        </div>
    </slide>
    <slide>
        <img src="assets/images/gym4.jpg" alt="slide">
        <div class="carousel-caption">
            <h3>GymMates</h3>
            <p>Connect with like-minded fitness enthusiasts and find your perfect workout partner with GymMates. Swipe, match, and meet up at the gym to get fit together and maybe even find love along the way</p>
        </div>
    </slide>
    <slide>
        <img src="assets/images/gym3.jpg" alt="slide">
        <div class="carousel-caption">
            <h3>Eazy Connect</h3>
            <p>Stay connected with your workout partners and trainers in real-time with messaging. Our secure messaging platform lets you chat, share tips, and stay motivated no matter where you are.</p>
        </div>
    </slide>
</carousel>

<!-- <section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to FitMatch!</h1>
    </div>
    <div class="text-center pt-4">
        <div style="display: inline-block; border-top: 1px solid #333; width: 50%;"></div>
    </div>
    <div class="d-flex justify-content-center pt-4">
        <h4>Find your perfect match at the intersection of fitness and romance, and shop the best in workout gear, all
            in one place.</h4>
    </div>
</section> -->
