<div class="row mb-3" *ngIf="member">
    <div class="col-2 mb-1 img-wrapper" *ngFor="let photo of member.photos">
        <img src="{{photo.url}}" alt="Photo of user" class="img-thumbnail mb-1"
            [class.not-approved]="!photo.isApproved">

        <div class="text-center img-text" *ngIf="!photo.isApproved">
            <span class="text-danger">Awaiting approval</span>
        </div>

        <div class="text-center">
            <button (click)="setMainPhoto(photo)" [disabled]="photo.isMain || !photo.isApproved" class="btn btn-sm"
                [ngClass]="photo.isMain ? 'btn-success actuve' : 'btn-outline-success'">Main</button>

            <button (click)="deletePhoto(photo.id)" [disabled]="photo.isMain" class="btn btn-sm btn-danger"><i
                    class="fa fa-trash"></i></button>
        </div>
    </div>
</div>

<div class="row mt-3">

    <div class="col-3">
        <h3>Add Photos</h3>
        <label for="file-input" class="btn btn-primary">Choose file</label>
        <input id="file-input" type="file" ng2FileSelect [uploader]="uploader" style="display:none;">
    </div>
    <div class="col-9" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">
        <div>
            <div>
                Queue progress:
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader?.progress + '%' }">
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
